.profile-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}
.profile.container h2 {
    text-align: center;
}
.profile.container button {
    margin-top: 20px;
}