<div class="auth-container">
    <h2>Sign Up</h2>
    <form (submit)="onSignup()" >
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="signupData.email" required="required">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="signupData.password" required="required">
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p>Already have an account? <a routerLink="/signin">Login</a></p>
</div>
